/*
	Theme colors: 
	#F3F7F6 white
	#A4A7AE light gray
	#FF4200 bright orange
	#B16553 muted orange 
	#2C2D36 dark gray
*/

	/*Flexbox fullscreen header*/
header {
	background-image: linear-gradient(to right, #000, #2C2D36);
	height: 100vh;
	color: #F3F7F6;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

h1 {
	font-size: 48px;
	font-family: 'Josefin Sans', sans-serif;
	letter-spacing: 10px;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	text-align: right;
}

	/*Adjusts alignment of text in header. */
h1, h3 {
	margin: 0 auto;
	padding-left: 150px;
}


img {
	height: 100vh;
	filter: grayscale(20%);
	opacity: 0.4;
}

	/*Positioning and alignment of main section elements*/
article {
	width: 600px;
	margin: 0 auto;
}

h2 {
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	letter-spacing: 3px;
}

p, li {
	line-height: 1.6;
	font-family: 'Montserrat', sans-serif;
}

hr {
	width: 800px;
    border: 0;
    height: 1px;
    background: #F66A39;
    background-image: linear-gradient(to right, #fff, #F66A39, #fff);
}

ul, ol{
	list-style-type: none;
	list-style-position: outside;
}

	/*Pseudo-class link styling below*/
a {
	text-decoration: none;
}

	/*Unvisited link*/
a:link {
	color: #FF4200;
}

	/*Visited link*/
a:visited {
	color: #B16553;
}

	/*Mouse over link*/
a:hover {
	color: #A4A7AE;
}

	/*Selected link*/
a:active {
	color: #2C2D36;
}

footer {
	background-color: #2C2D36;
	padding: 20px 0;
	margin: 0;
}

footer > p {
	color: #F3F7F6;
	padding-left: 20px;
}